<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">

    <select id="pageQuery" resultType="com.sky.entity.Employee">
        select * from employee
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
        order by create_time desc
    </select>
    <update id="update">
    update employee
    <set>
        <if test="name != null"> name = #{name},</if>
        <if test="username != null"> name = #{username},</if>
        <if test="password != null"> name = #{password},</if>
        <if test="phone != null"> name = #{phone},</if>
        <if test="sex != null"> name = #{sex},</if>
        <if test="idNumber != null"> name = #{idNumber},</if>
        <if test="updateTime != null"> name = #{updateTime},</if>
        <if test="createTime != null"> name = #{createTime},</if>
        <if test="status != null"> name = #{status},</if>
    </set>
    where id =  #{id}
    </update>
</mapper>
